.data-list {
  display: flex;
}

.data-list.vertical {
  flex-direction: column;
}

.data-list>dd {
  margin-inline-start: 0.25rem;
}

.data-list.vertical>dd {
  margin-block-start: 0.5rem;
  margin-inline-start: 0;
}

.data-list>dt {
  color: #fff8;
}
